.sectionTitle{
    display: flex;
    justify-content: center;
    border: 2px var(--brown) solid;
    box-shadow: 2px 2px 0px var(--brown);
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px 60px
}

.sectionTitleWrapper{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -40px;
}