.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--brown);
    position: absolute;
}

.decorDots{
    width: 100%;
    height: 100%;
    position: absolute;
}

.decorDots .topLeft{
    top: 5%;
    left: 5%;
    
}

.decorDots .topRight{
    top: 5%;
    right: 5%;
}

.decorDots .botLeft{
    bottom: 5%;
    left: 5%;
}

.decorDots .botRight{
    bottom: 5%;
    right: 5%;
}

@media only screen and (max-width: 425px) {
    .decorDots .botLeft,
    .decorDots .botRight{
        display: none;
    }

    .decorDots .topLeft,
    .decorDots .topRight{
        width: 15px;
        height: 15px;
        top: 2%;
    }
}