.experience {
  background-color: var(--blue);
  box-shadow: 8px 8px 0px var(--deepBlue);
  height: 100%;
}
.experience-content{
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
